.poke-list-overall {
  margin-top: 25px;
  display: absolute;
  /* position: absolute; */
  /* left: 0px; */
  /* top: 250px; */
  z-index: 1;
  color:black;
}

.poke-list {
  right: -50px;
  top: -40px;
  position: relative;
}

.poke-list {
  background-color: white;
  /* border: 0; */
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 15px;
  height: auto;
  width: 350px;
}

.indiv-item {
  padding: auto;
  height: auto;
  text-decoration: none;
  font-size: 18px;
  text-align: left;

  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.indiv-item + .indiv-item {
  border-top: 1px solid gray;
  padding-top: 10px;
}

.indiv-item:hover {
  background-color: lightgrey;
}

.remove-icon {
  cursor: pointer;
  content: "";
  height: 45px;
  width: 45px;
  display: grid;
  place-items: center;
}

.remove-icon svg {
  font-size: 20px;
}
/* 
.remove-icon:hover {
  scale: 1;
} */

#clearBtn {
  pointer-events: none;
}

.img-container {
  /* width: 50px; */
  /* height: 50px; */
  
  width: 25px;
  height: 25px;

  /* width: 20%; */
  /* height: 20%; */


  /* border: 2px solid red; */
  justify-content: center;
  display: flex;
  flex-direction: row;
  /* overflow: hidden; */
  padding-right: 25px;
  padding-left: 15px;
}

.poke-image {
  /* width: "100%"; */
  /* height: "100%"; */
  object-fit: cover;
  flex: 1;
}

/* .type-chart {
  position: absolute;
  left: 200px;
  float: right;
  display:flex;
  flex-direction: row;
}

.three-component {
  display: grid;
} */

.side-by-side-container {
  display: flex;
  flex-direction: row;
}

.top-down-container {
  display: flex;
  flex-direction: column;
}

.save-button {
  margin-left: 49px;
  margin-right: -51px;
}