.about {
  background-image: url('../images/wallpapers/tripleStarterBG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: absolute;
  width: 100vw;
  height: calc(100vh - 85px);

  color: white;
}

.words {
  font-size: 16px;
  padding-left: 30vw;
  padding-right: 30vw;
}