.about {
  background-image: url('../images/wallpapers/pikachuEeveeBG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: absolute;
  width: 100vw;
  height: calc(100vh - 85px);
}