.profile {
  background-image: url('../images/wallpapers/pikachuEeveeBG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: absolute;
  width: 100vw;
  height: calc(100vh - 85px);
  overflow: hidden;
}

.sidewaysList {
  display: flex;
  flex-direction: row;
}

.profilePic {
  color: #fff;
  padding: 10rem;
  transform: scale(15);
}

.buttons {
  z-index: 1;
  padding-top: 90px;
  padding-left: 70px;
}

.button {
  margin-bottom: 50px;
}