.single-team-type-chart {
  z-index: 3;
}

/* .single-team-type-chart::after {
  content: "";
  clear: both;
  display: table;
} */

/*	
Side Navigation Menu V2, RWD
===================
Author: https://github.com/pablorgarcia
*/

/* @charset "UTF-8"; */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  /* color:#A7A1AE; */
  background-color:#65A380;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  /* color: #4DC3FA; */
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  /* color: #FB667A; */
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  /* color: #FB667A; */
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  /* color: #185875; */
}

.container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
  text-align: left;
  overflow: hidden;
  margin: 0 auto;
  margin-right: 70px;
  margin-left: 90px;
  margin-top: 33px;
  display: table;
  padding: 0 0em 1.5em 0;
  
  position: absolute;
  /* left: 32vw; */
  /* top: 4.1vh; */
  float: auto;
  padding-bottom: 20px;

  table-layout: fixed;
  width: 63%;
  /* border: 1px solid black; */
}

.container td, .container th {
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  padding-left: 2%;  
  /* text-shadow: -1px -1px 0 rgb(0 0 0 / 30%), 1px -1px 1px rgb(0 0 0 / 30%), -1px 1px 0 rgb(0 0 0 / 50%), 1px 1px 1px rgb(0 0 0 / 50%), 0 1px 1px rgb(0 0 0 / 90%), 0 2px 1px rgb(0 0 0 / 50%); */
  /* border: 1px solid black; */
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
  /* background-color: #323C50; */
  background-color: #E2E5DE;
  /* background-color: #3C9F85; */
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
  /* background-color: #2C3446; */
  background-color: #F5F5F5;
  /* background-color: #37495F; */
}

.container th {
  /* background-color: #BABDB7; */
  /* background-color: #21273B; */
  background-color: #262626;
  color: white;
  text-shadow: -1px -1px 0 rgb(0 0 0 / 30%), 1px -1px 1px rgb(0 0 0 / 30%), -1px 1px 0 rgb(0 0 0 / 50%), 1px 1px 1px rgb(0 0 0 / 50%), 0 1px 1px rgb(0 0 0 / 90%), 0 2px 1px rgb(0 0 0 / 50%);
}

.container td:first-child {
  color: #FB667A;
  font-weight: 700;
  /* text-shadow: -1px -1px 0 rgb(0 0 0 / 30%), 1px -1px 1px rgb(0 0 0 / 30%), -1px 1px 0 rgb(0 0 0 / 50%), 1px 1px 1px rgb(0 0 0 / 50%), 0 1px 1px rgb(0 0 0 / 90%), 0 2px 1px rgb(0 0 0 / 50%); */
}

.container tr:hover {
  background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
          box-shadow: 0 6px 6px -6px #0E1119;
}

/* .container td:hover {
  background-color: #FFF842;

  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
  transition-timing-function: line;
} */

@media screen and (max-width: 768px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
  /* position: relative; */
}